{% extends 'parent/base/base.html' %}
{% load static %}

{% block title %} - {{post.title}}{% endblock title %}

{% block content %}

<div class="container-fluid p-0">
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid w-100" style="height: 400px; object-fit: cover;">
</div>

<section class="tm-section">
    <div class="container-fluid">
        <div class="row tm-2-rows-sm-swap">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-2-rows-sm-down-2">
                
                <h3 class="tm-gold-text">Post Categories</h3>
                
                <nav>
                    <ul class="nav">
                        {% for category in categories %}
                        <li><a href="#" class="tm-text-link">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </nav>   

            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 tm-2-rows-sm-down-1" id="post" data-post-id="{{ post.id }}">
                <h3 class="tm-gold-text">{{post.title}}</h3>
                <p>{{post.description|linebreaks}}</p>
                <hr>
                <div class="post-info">
                    <p><strong>Published on:</strong> {{ post.created_at }}</p>
                    <p><strong>Category:</strong> <a href="#" class="tm-text-link">{{post.category}}</a></p>
                    <p><strong>Likes:</strong> <span id="likes-count">{{post.likes.count}}</span></p>
                    <p><strong>Comments:</strong> {{post.comments.count}}</p>
                </div>

                <div class="post-actions">
                    <a class="btn btn-info" href="{% url 'comments:all_comments' post.id %}">Comment</a>
                    
                    <button class="btn btn-success" id="like-button" {% if not user.is_authenticated %}disabled{% endif %}>Like</button>
                    <button class="btn btn-primary" {% if not user.is_authenticated %}disabled{% endif %}>Share</button>
                    <button class="btn btn-danger" {% if not user.is_authenticated %}disabled{% endif %}>Save</button>
                </div>
                <hr>
            </div>
        </div>          

        <div class="row tm-margin-t-mid">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                <div class="tm-content-box">
                    <img src="{% static 'img/tm-img-310x180-1.jpg' %}" alt="Image" class="tm-margin-b-30 img-fluid">
                    <h4 class="tm-margin-b-20 tm-gold-text">Lorem ipsum dolor #1</h4>
                    <p class="tm-margin-b-20">Aenean cursus tellus mauris, quis
                    consequat mauris dapibus id. Donec
                    scelerisque porttitor pharetra</p>
                    <a href="#" class="tm-btn text-uppercase">Detail</a>    
                </div>  

            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                <div class="tm-content-box">
                    <img src="{% static 'img/tm-img-310x180-2.jpg' %}" alt="Image" class="tm-margin-b-30 img-fluid">
                    <h4 class="tm-margin-b-20 tm-gold-text">Lorem ipsum dolor #2</h4>
                    <p class="tm-margin-b-20">Aenean cursus tellus mauris, quis
                    consequat mauris dapibus id. Donec
                    scelerisque porttitor pharetra</p>
                    <a href="#" class="tm-btn text-uppercase">Read More</a>    
                </div>  

            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                <div class="tm-content-box">
                    <img src="{% static 'img/tm-img-310x180-3.jpg' %}" alt="Image" class="tm-margin-b-30 img-fluid">
                    <h4 class="tm-margin-b-20 tm-gold-text">Lorem ipsum dolor #3</h4>
                    <p class="tm-margin-b-20">Aenean cursus tellus mauris, quis
                    consequat mauris dapibus id. Donec
                    scelerisque porttitor pharetra</p>
                    <a href="#" class="tm-btn text-uppercase">Detail</a>    
                </div>  

            </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                    <div class="tm-content-box tm-margin-b-30">
                        <a href="#" class="tm-text-link"><h4 class="tm-margin-b-20 tm-thin-font">Duis sit amet tristique #1</h4></a>
                        <p class="tm-margin-b-30">Vestibulum arcu erat, lobortis sit amet tellus ut, semper tristique nibh. Nunc in molestie elit.</p><hr>
                    </div>
                    <div class="tm-content-box">
                        <a href="#" class="tm-text-link"><h4 class="tm-margin-b-20 tm-thin-font">Duis sit amet tristique #2</h4></a>
                        <p>Vestibulum arcu erat, lobortis sit amet tellus ut, semper tristique nibh. Nunc in molestie elit.</p>
                    </div>  

                </div>
        </div> <!-- row -->

    </div>
</section>

{% block script %}
    <script>
        $(document).ready(function(){
            $("#like-button").click(function(){
                var postId = $(this).closest("#post").data("post-id");
                var button = $(this);
                var csrfToken = "{{ csrf_token }}";

                $.ajax({
                    type: "POST",
                    url: "{% url 'intractions:like_post' post.id %}",
                    data: {"post_id": postId, "csrfmiddlewaretoken": csrfToken},
                    success: function(data){
                        if(data.redirect_to_login){
                            window.location.href = "{% url 'users:login' %}";
                        } else {
                            if(data.liked){
                                button.text("UnLike");
                            } else {
                                button.text("Like");
                            }
                            $("#likes-count").text(data.likes_count);
                        }
                    },
                });
            });
        });
    </script>
{% endblock script %}

{% endblock %}